@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cedarville+Cursive&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cedarville+Cursive&family=Manrope:wght@200..800&display=swap");
:export {
  light-gray: #C7C7C7;
  boy-blue: #0084FF;
  black-color: #0A0A0A;
  dark-grey: #292b2a;
  white-color: #FFFFFF;
  light-black: #1A1A1A;
  light-black-slighter: #222222;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  min-height: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  padding: 30px 60px;
}
@media (max-width: 480px) {
  .navbar {
    padding: 30px 30px;
    max-width: 100%;
  }
}
.navbar .logo-text h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 32px;
  color: #C7C7C7;
  font-weight: normal;
}
.navbar .logo-text a {
  text-decoration: none;
  color: #C7C7C7;
}
.navbar .nav-list {
  display: flex;
  justify-content: none;
  align-items: none;
  gap: 32px;
  list-style: none;
}
@media (max-width: 480px) {
  .navbar .nav-list {
    display: none;
    justify-content: space-between;
  }
}
.navbar .nav-list a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #C7C7C7;
}
.navbar .off-screen-menu {
  display: none;
}
@media (max-width: 480px) {
  .navbar .off-screen-menu {
    display: block;
    margin: 0;
  }
}
.navbar .burger-icon {
  display: none;
}
@media (max-width: 480px) {
  .navbar .burger-icon {
    display: block;
    cursor: pointer;
  }
}
.navbar .off-screen-menu {
  display: none;
}
@media (max-width: 480px) {
  .navbar .off-screen-menu {
    list-style: none;
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    transition: 0.3s ease;
    margin: 0;
    background-color: #0A0A0A;
    z-index: 1000;
  }
  .navbar .off-screen-menu .close-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    color: #C7C7C7;
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
    transition: color 0.3s ease;
  }
  .navbar .off-screen-menu .close-menu:hover {
    color: #0084FF;
  }
  .navbar .off-screen-menu li {
    margin: 20px 0;
  }
  .navbar .off-screen-menu li a {
    color: #C7C7C7;
    text-decoration: none;
    font-family: "Manrope", sans-serif;
    font-size: 24px;
    transition: color 0.3s ease;
  }
  .navbar .off-screen-menu li a:hover {
    color: #0084FF;
  }
}
.navbar .off-screen-menu.active {
  right: 0;
}

/* Main Content */
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
  gap: 0;
  flex: 1;
}
@media (max-width: 1024px) {
  .main-container {
    padding: 16px;
    gap: 48px;
    max-width: 100%;
    text-align: center;
  }
}
.main-container .hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 80px;
  align-items: center;
  min-height: 80vh;
}
@media (max-width: 1024px) {
  .main-container .hero {
    flex-direction: column;
    max-width: 100%;
    gap: 150px;
  }
}
.main-container .hero .hero-content {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
@media (max-width: 480px) {
  .main-container .hero .hero-content {
    padding-left: 10px;
  }
}
.main-container .hero .hero-content h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 101px;
  padding-bottom: 8px;
  font-weight: normal;
}
@media (max-width: 480px) {
  .main-container .hero .hero-content h1 {
    font-size: 50px;
  }
}
.main-container .hero .hero-content p {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  color: #C7C7C7;
  padding-bottom: 40px;
}
.main-container .hero .hero-content .hero-buttons {
  display: flex;
  justify-content: none;
  align-items: none;
  gap: 16px;
}
@media (max-width: 1024px) {
  .main-container .hero .hero-content .hero-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
}
.main-container .hero .hero-content .hero-buttons .contact-button {
  background-color: #0084FF;
  color: #0A0A0A;
  width: 187px;
  height: 54px;
  border: none;
  cursor: pointer;
  border-radius: 32px;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 550;
}
.main-container .hero .hero-content .hero-buttons .linkedin-button {
  background-color: #222222;
  border: none;
  cursor: pointer;
  width: 54px;
  height: 54px;
  border-radius: 64px;
}
.main-container .hero .hero-content .hero-buttons .github-button {
  background-color: #222222;
  border: none;
  cursor: pointer;
  width: 54px;
  height: 54px;
  border-radius: 64px;
}
@media (max-width: 1024px) {
  .main-container .hero .hero-image {
    padding: 0;
    max-width: 100%;
  }
}
.main-container .hero .hero-image img {
  max-width: 1000px;
  max-height: 700px;
  width: auto;
  height: auto;
}
@media (max-width: 1024px) {
  .main-container .hero .hero-image img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }
}
.main-container {
  /* Projects Section */
}
.main-container .projects {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
  gap: 0;
  gap: 80px;
  min-height: 100vh;
  align-items: center;
}
@media (max-width: 1024px) {
  .main-container .projects {
    max-width: 100%;
  }
}
.main-container .projects .projects-header {
  max-width: 100%;
  max-height: 100%;
}
.main-container .projects .projects-header h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 76px;
  padding-bottom: 8px;
  font-weight: normal;
  text-align: center;
}
.main-container .projects .projects-header p {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  color: #C7C7C7;
  padding-bottom: 50px;
}
@media (max-width: 1024px) {
  .main-container .projects .projects-header p {
    padding-bottom: 50px;
  }
}
@media (max-width: 1024px) {
  .main-container .projects .projects-header {
    max-width: 100%;
  }
}
.main-container .projects .project-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 120px;
}
@media (max-width: 1024px) {
  .main-container .projects .project-cards {
    max-width: 100%;
  }
}
.main-container .projects .project-cards .project-card {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 48px;
  max-width: 1200px;
  width: 100%;
}
@media (max-width: 1024px) {
  .main-container .projects .project-cards .project-card {
    flex-direction: column;
    max-width: 100%;
  }
  .main-container .projects .project-cards .project-card img {
    max-width: 100%;
    height: auto;
    padding: 0;
  }
}
.main-container .projects .project-cards .project-card .project-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  gap: 16px;
}
.main-container .projects .project-cards .project-card .project-wrapper .project-desc {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  gap: 16px;
  padding-bottom: 32px;
}
.main-container .projects .project-cards .project-card .project-wrapper .project-desc h3 {
  font-family: "Manrope", sans-serif;
  font-size: 32px;
  font-weight: normal;
}
.main-container .projects .project-cards .project-card .project-wrapper .project-desc p {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  color: #C7C7C7;
}
.main-container .projects .project-cards .project-card .project-wrapper .project-info {
  padding-bottom: 48px;
}
.main-container .projects .project-cards .project-card .project-wrapper .project-info h5 {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
}
.main-container .projects .project-cards .project-card .project-wrapper .project-info p {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  color: #C7C7C7;
}
.main-container .projects .project-cards .project-card .project-wrapper .project-info hr.solid-divider {
  border: none;
  height: 0.5px;
  background-color: #292b2a;
}
.main-container .projects .project-cards .project-card .project-wrapper .project-links {
  display: flex;
  justify-content: none;
  align-items: none;
  gap: 24px;
}
@media (max-width: 480px) {
  .main-container .projects .project-cards .project-card .project-wrapper .project-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
}
.main-container .projects .project-cards .project-card .project-wrapper .project-links button {
  background-color: #0A0A0A;
  border: none;
  display: flex;
  justify-content: none;
  align-items: center;
  gap: 4px;
  padding: 0;
  border-bottom: 2px solid #0084FF;
  padding-bottom: 4px;
}
.main-container .projects .project-cards .project-card .project-wrapper .project-links a {
  text-decoration: none;
  color: #0084FF;
}
@media (max-width: 1024px) {
  .main-container .projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    max-width: 100%;
  }
}
.main-container {
  /* About me Section */
}
.main-container .about-me {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: none;
  gap: 80px;
  padding: 0 350px;
  padding-top: 122px;
  padding-bottom: 300px;
}
@media (max-width: 480px) {
  .main-container .about-me {
    padding: 0 20px;
    padding-top: 60px;
    padding-bottom: 150px;
  }
}
.main-container .about-me .about-me-header {
  flex: 0 0 25%;
}
.main-container .about-me .about-me-header h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 101px;
  font-weight: normal;
}
@media (max-width: 480px) {
  .main-container .about-me .about-me-header h1 {
    white-space: normal;
  }
}
.main-container .about-me .about-me-content {
  flex: 1 1 70%;
  max-width: 100%;
  max-height: 100%;
}
.main-container .about-me .about-me-content h3 {
  font-family: "Manrope", sans-serif;
  font-size: 32px;
  padding-bottom: 16px;
  font-weight: normal;
}
@media (max-width: 480px) {
  .main-container .about-me .about-me-content h3 {
    max-width: 100%;
  }
}
.main-container .about-me .about-me-content p {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  color: #C7C7C7;
  padding-bottom: 53px;
}
.main-container .about-me .about-me-content .about-me-buttons {
  display: flex;
  justify-content: none;
  align-items: none;
  gap: 16px;
}
.main-container .about-me .about-me-content .about-me-buttons .resume-button {
  background-color: #0084FF;
  color: #0A0A0A;
  width: 187px;
  height: 54px;
  border: none;
  cursor: pointer;
  border-radius: 32px;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 550;
}
.main-container .about-me .about-me-content .about-me-buttons .linkedin-button {
  background-color: #222222;
  border: none;
  cursor: pointer;
  width: 54px;
  height: 54px;
  border-radius: 64px;
}
.main-container .about-me .about-me-content .about-me-buttons .github-button {
  background-color: #222222;
  border: none;
  cursor: pointer;
  width: 54px;
  height: 54px;
  border-radius: 64px;
}
.main-container .about-me .about-me-content a {
  text-decoration: none;
  color: #0084FF;
}
.main-container {
  /* Capabilities Section */
}
.main-container .capabilities-section {
  display: flex;
  justify-content: space-around;
  align-items: start;
  gap: 0;
}
@media (max-width: 1024px) {
  .main-container .capabilities-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    max-width: 100%;
  }
}
.main-container .capabilities-section .capabilities-header {
  flex: 0 0 40%;
}
.main-container .capabilities-section .capabilities-header h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 90px;
  font-weight: normal;
}
.main-container .capabilities-section .capabilities-content {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  gap: 0;
  flex: 0 0 40%;
  max-width: 100%;
}
.main-container .capabilities-section .capabilities-content h3 {
  font-family: "Manrope", sans-serif;
  font-size: 24px;
  padding-bottom: 16px;
  font-weight: normal;
}
.main-container .capabilities-section .capabilities-content p {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  color: #C7C7C7;
}
.main-container .capabilities-section .capabilities-content .capabilities ul {
  list-style-type: none;
  display: flex;
  justify-content: none;
  align-items: start;
  gap: 16px;
  flex-wrap: wrap;
  padding: 0;
}
.main-container .capabilities-section .capabilities-content .capabilities li {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  color: #FFFFFF;
  outline: 1px solid gray;
  border-radius: 50px;
  text-align: center;
  padding: 20px 40px;
}

/* Contact Section */
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  min-height: 80vh;
  align-items: start;
  padding: 350px;
  padding-bottom: 0px;
}
@media (max-width: 1024px) {
  .contact {
    flex-direction: column;
    max-width: 100%;
    text-align: center;
    padding: 0;
  }
}
.contact .contact-header {
  padding-right: 100px;
  align-self: start;
}
@media (max-width: 1024px) {
  .contact .contact-header {
    align-self: center;
  }
}
.contact .contact-header h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 76px;
  font-weight: normal;
  padding-bottom: 16px;
}
.contact .contact-header p {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  color: #C7C7C7;
  padding-bottom: 8px;
}
@media (max-width: 480px) {
  .contact .contact-header {
    padding: 0;
    max-width: 100%;
  }
}
.contact .contact-header .link {
  text-decoration: none;
  color: #FFFFFF;
  border-bottom: 2px solid #0084FF;
}
.contact .contact-header .social-links {
  display: flex;
  justify-content: none;
  align-items: none;
  gap: 24px;
  padding-top: 40px;
}
@media (max-width: 1024px) {
  .contact .contact-header .social-links {
    justify-content: center;
  }
}
.contact .contact-form {
  display: flex;
  justify-content: none;
  align-items: none;
  gap: 24px;
  text-align: start;
  padding-left: 100px;
}
@media (max-width: 1024px) {
  .contact .contact-form {
    padding: 0;
    max-width: 100%;
  }
}
.contact .contact-form form {
  display: inline-block;
  padding: 1em;
}
@media (max-width: 480px) {
  .contact .contact-form form {
    padding: 0;
    display: block;
    max-width: 100%;
  }
}
.contact .contact-form form p {
  margin-top: 1em;
}
@media (max-width: 480px) {
  .contact .contact-form form p {
    margin: 0;
    max-width: 100%;
  }
}
.contact .contact-form form p label {
  display: block;
  margin-bottom: 0.5em;
  text-align: left;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  color: #C7C7C7;
}
@media (max-width: 480px) {
  .contact .contact-form form p label {
    max-width: 100%;
  }
}
.contact .contact-form form p input, .contact .contact-form form p textarea {
  font: 1em sans-serif;
  width: 600px;
  height: 50px;
  box-sizing: border-box;
  border: 1px solid #1A1A1A;
  background-color: #1A1A1A;
  padding: 0.5em;
  color: #C7C7C7;
  font-family: "Manrope", sans-serif;
}
.contact .contact-form form p input :focus, .contact .contact-form form p textarea :focus {
  outline-style: solid;
  outline-color: #000;
}
@media (max-width: 480px) {
  .contact .contact-form form p input, .contact .contact-form form p textarea {
    max-width: 100%;
  }
}
.contact .contact-form form p textarea {
  vertical-align: top;
  height: 190px;
}
@media (max-width: 480px) {
  .contact .contact-form form p textarea {
    max-width: 100%;
  }
}
.contact .contact-form form .button {
  padding-left: 0;
  margin-left: 0;
  padding-top: 40px;
}
@media (max-width: 480px) {
  .contact .contact-form form .button {
    max-width: 100%;
  }
}
.contact .contact-form form .button .submit {
  background-color: #0084FF;
  color: #0A0A0A;
  width: 140px;
  height: 54px;
  border: none;
  border-radius: 32px;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 550;
}

/* Footer Section */
footer {
  display: flex;
  justify-content: space-between;
  align-items: none;
  gap: 0;
  padding: 60px 100px;
}
@media (max-width: 480px) {
  footer {
    margin-top: 0px;
  }
}
footer .footer-container p {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  color: #C7C7C7;
  padding-left: 0px;
  padding-top: 0px;
  max-width: 100%;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
