$light-gray: #C7C7C7;
$boy-blue: #0084FF;
$black-color: #0A0A0A;
$dark-grey: #292b2a;
$white-color: #FFFFFF;
$light-black: #1A1A1A;
$light-black-slighter: #222222;


:export {
    light-gray: $light-gray;
    boy-blue: $boy-blue;
    black-color: $black-color;
    dark-grey: $dark-grey;
    white-color: $white-color;
    light-black: $light-black;
    light-black-slighter: $light-black-slighter;
}